Some kind of recommender system. 
Obviously, it should have some prior knowledge to advice anything. 
E.g.:
- Recommend a beer style (or 3) based on quick questions and answers. Probably, it would look like a decision tree (Do you like strong or mild? Ale or Lager? ... )
- Or surprise me! (Advice something from nonpopular drinks)

How to claster similar beer styles?

How to create and deploy very simple app or web interface?

In [15]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#use seaborn styles for graphs
sns.set_palette("GnBu_d")
sns.set()

#import data
df = pd.read_csv('beer_reviews.csv')
df = df.dropna()
df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

For a simple recommender system we need to know scores for each beer and number of reviews.</br>
https://www.datacamp.com/community/tutorials/recommender-systems-python?utm_source=adwords_ppc&utm_campaignid=898687156&utm_adgroupid=48947256715&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=1t1&utm_creative=229765585183&utm_targetid=dsa-473406569915&utm_loc_interest_ms=&utm_loc_physical_ms=1006886&gclid=CjwKCAiAyeTxBRBvEiwAuM8dnRWvkkTQqKK-PFbrVOfzYNIFNgt57IzP4ohitcyJKLJ4nm-S38XsxxoCpIsQAvD_BwE

In [44]:
#create temporary dataset with beerid and reviews' scores
grooped = df[['review_overall', 'beer_beerid', 'review_time']].groupby(['beer_beerid'])


#create dataset with beers' ids, average reviews' scores and number of reviews for each beer
beers = grooped.agg({'review_overall': 'mean', 
                     'review_time': 'count'})

#rename columns for convinience
beers.columns = ['avg_overall', 'count_reviews']

beers

             avg_overall  count_reviews
beer_beerid
5               3.549528            424
6               3.706956            877
7               3.266313            659
8               3.647059             68
9               3.400862            116
...                  ...            ...
77312           4.000000              1
77313           3.000000              1
77314           3.500000              1
77315           3.500000              1
77316           3.500000              1

[49000 rows x 2 columns]

We already can see that beer 77312 has 4.0 avg overall rating, but only 1 review. So we need to calculate a weighted rating for each beer that takes into account the average rating and the number of reviews.

v = number of reviews for each beer</br>
m = minimum number of reviews required to be listed in recommendations</br>
R = average review of the beer</br>
C = average review across the all beers</br>

In [45]:
#Calculate C

C = beers['avg_overall'].mean()
C

3.658623319099193

In [46]:
#for m I'll consider top25 beers (by number of reviews)

m = beers['count_reviews'].quantile(0.75)
m

10.0

In [47]:
#filter the beers with at least 10 reviews
q_beers = beers.copy().loc[beers['count_reviews'] >= 10]
q_beers.shape

(12878, 2)

In [41]:
#Function that computes the weighted rating for each beer
def weighted_rating(x, m=m, C=C):
    v = x['count_reviews']
    R = x['avg_overall']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [48]:
# Define a new feature 'score' and calculate its value with `weighted_rating()`
q_beers['score'] = q_beers.apply(weighted_rating, axis=1)

In [49]:
q_beers

             avg_overall  count_reviews     score
beer_beerid
5               3.549528            424  3.552042
6               3.706956            877  3.706411
7               3.266313            659  3.272177
8               3.647059             68  3.648541
9               3.400862            116  3.421319
...                  ...            ...       ...
76571           3.758621             29  3.732980
76710           4.250000             10  3.954312
76767           4.038462             13  3.873314
76816           4.030000             50  3.968104
76874           4.272727             11  3.980297

[12878 rows x 3 columns]

Collaborative filtering: makes automatic predictions about the interest of a user by collecting preferences from many users.</bn>
If a reviewer A has the same preferences about the set of beers as reviewer B, A is more likely to have B's opinion on a given item (supposedly a beer that B tried and reviewed, and A didn't).

Contend-based filtering: method uses only information about the description and attributes of the items user has previously consumed to model user's preferences.</bn>
If reviewer A have preferences about beer X, A will most likely have the same opinion about beew Y which has similar characteristic to beer X (style, ABV).

Hybrid methods: combine collaborative and contend-based filtering. Can be used to overcome such problems as cold start and sparsity.

!!! there are too many different beer style. Calculate cosine similarity between them to find similar styles? (NLP)

https://www.kaggle.com/gspmoreira/recommender-systems-in-python-101

https://cseweb.ucsd.edu/~jmcauley/datasets.html

https://data-flair.training/blogs/data-science-r-movie-recommendation/